// Specific CSS for your home-page

.hometext{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #969696;
  margin: 15px;
}

.browse-btn{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: #FF5841;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 4px 1px 1px lightgray;
}

.bottom-home{
  text-align: center;
}
.browse-btn:hover{
  background-color: white;
  color: #FF5841;
  transition: 0.3s;
}

.top-home{
text-align: center;
}
