<div class="navbar-pokerent">
  <div class="leftnav">
  <%=link_to "Home", "/" , class: "text-decoration-none navtext" %>
  <%=link_to "Pokemon", pokemons_path, class: "text-decoration-none navtext" %>
  </div>
  <div class="rightnav">
  <%=link_to "Dashboard", pokemons_path, class: "text-decoration-none navtext" %>
  <%=link_to "Log-in", new_user_session_path, class: "text-decoration-none navtext" %>
  </div>
</div>
