<%= render "shared/navbar" %>

<div class="top-home"><%= image_tag "logo-pokerent.png" %></div>

<div class="city">

<div class="grass">
  <div class="river"></div>
  <div class="tree"></div>
  <div class="tree"></div>
  <div class="tree"></div>
  <div class="tree"></div>
  <div class="tree"></div>
  <div class="path"></div>
  <div class="pathend"></div>
  <div class="flower">
         <span class="petal"></span>
         <span class="petal"></span>
         <span class="petal"></span>
  </div>
  <div class="longgrass"></div>
  <div class="longgrass"></div>
  <div class="flower2">
         <span class="petal"></span>
         <span class="petal"></span>
         <span class="petal"></span>
  </div>
  <div class="flower3">
         <span class="petal"></span>
         <span class="petal"></span>
         <span class="petal"></span>
  </div>
  <div class="house">
        <div class="houseshadow"></div>
        <div class="door"></div>
        <div class="window"></div>
        <div class="roof">
              <div class="roofwindow">
       </div><!--roof-->
  </div><!--house-->
  <div class="pokeball"></div>

</div><!--grass-->
    <div class="pikachu">
            <div class="head"></div>
            <div class="backfeet"></div>
            <div class="frontfeet"></div>
          </div>
</div><!--city-->

<div class="hometext">Pokemon Rental</div>
<div class="bottom-home">
  <%= link_to "See available Pokemons", postedpokemons_path, class: "browse-btn", id: "play-pokemon-button" %>
</div>
