
<div class="top-home"><%= image_tag "logo-pokerent.png" %></div>
<div class="hometext">Location de pokemon</div>
<div class="bottom-home">
<%= link_to "Voir les pokemon disponibles", pokemons_path, class: "browse-btn" %>
</div>
