.cardos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 800px;

}

.cardo{
  height: 175px;
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 1px 1px lightgray;
  border-radius: 13px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  img{
    position: absolute;
    top: -41px;
    height: 100px;
    left: 48px;
  }
  .blacktext{
    font-size: 20px;
  }
}

@media(max-width: 992px) {
  .cardos {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cardos {
    grid-template-columns: 1fr;
  }
}

.absolute{
  position: absolute;
}

.cardoinfo{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 15px;
  margin-top: 90px;

}

.graytext{
  color: #969696;
}

.blacktext{
  color: black;
}

.details-btn{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 10px;
  text-decoration: none;
  color: white;
  padding: 5px;
  background-color: #FF5841;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 2px 1px 1px lightgray;
}

.details-btn:hover{
  background-color: white;
  color: #FF5841;
  transition: 0.3s;
}

#levelcard {
  font-size: 15px;
  padding:0px;
  text-align: center;
  color: lightgrey;
  font-weight: bolder;
  margin-bottom: 2px;

}
