.navbar-pokerent {
  height: 100px;
  width: 100%;
  border-radius: 13px;
  box-shadow: 0 4px 1px 1px lightgray;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky; /* Ajout de la propriété position: sticky */
  top: 0;
  z-index: 100; /* Spécifiez la position de début pour la barre de navigation collante */
}


.navtext{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #969696;
  margin: 15px;
}

.leftnav{
  display: flex;
  margin-left: 20px;
}

.active-cat{
  color: #FF5841;
  border-bottom: solid #FF5841;
}

.navtext:hover{
  color: black;
  transition: 0.3s;
}

.rightnav{
  display: flex;
  margin-right: 20px;
}

.middle-nav{
  .img-nav{
    width: 150px;
  }

}
