.main-pok-form{
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 13px;
  box-shadow: 0 4px 1px 1px lightgray;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-info{

  width: 200px;

}

.form-img{
  width: 200px;
}
