<div class="cardos">
  <% @pokemons.each do |pokemon| %>
    <div class="cardo">
      <div class="cardotext">
        <div class="blacktext"><%= pokemon.name %></div>

      </div>
      <div>
            <%= link_to "See details", pokemon_path(pokemon), class: "details-btn" %>
      </div>
    </div>
  <% end %>
</div>
